body {
  font-family: "ChalkDuster";
  color: #E8E8E8;
  background-image: url(http://i.imgur.com/RPXhbqF.jpg);
  font-size: 10px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.gameboard {
  height: 33em;
  width: 33em;
   margin: auto;
}

.square {
  height: 10em;
  width: 10em;
  border: 3px solid white;
  display: inline-block;
  text-align: center;

}


button {
  font-family: "ChalkDuster";
  background: transparent;
  color: white;
  border: solid white;
  font-size: 20px;
  margin-top: 1px;
}

.row {

}

.reset {
  text-align: center;
}

.scoreboard {
  padding-top: 10px;
  text-align: center
}
