

body {
  font-family: "ChalkDuster";
  color: #E8E8E8;
  background-image: url(http://i.imgur.com/RPXhbqF.jpg);
}

h1 {
  text-align: center;
  font-size: 60px;
}

.gameboard {
  height: 330px;
  width: 330px;
  margin: auto;
}

.square {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  display: inline-block;
  float: left;
  font-size: 60px;
  text-align: center;
}

button {
  font-family: "ChalkDuster";
  background: transparent;
  color: white;
  border: solid white;
  font-size: 20px;
  margin-top: 1px;
}



.reset {
  text-align: center;
}

.scoreboard {
  padding-top: 10px;
  text-align: center
}
h2{
  font-size: 30px;
}
