body {
  font-family: "ChalkDuster";
  color: #E8E8E8;
  background-image: url(http://i.imgur.com/RPXhbqF.jpg);
}
ß
h1 {
  text-align: center;
  font-size: 60px;
}

.gameboard {
  height: 306px;
  width: 306px;
  margin: auto;

  border: 3px solid white;
}

.square {
  height: 100px width: 100px;
  border: 3px solid white;
  font-size: 50px;
  text-align: center;
  display: table-cell;
}

button {
  font-family: "ChalkDuster";
  background: transparent;
  color: white;
  border: solid white;
  font-size: 20px;
  margin-top: 1px;
}

.row {

}

.reset {
  text-align: center;
}

.scoreboard {
  padding-top: 10px;
  text-align: center
}
